body{
    height: 100%;
    margin: 0;
    width: auto
}

html{
    height: 100%;
}

aside{
    background-color: #fbfafa;
    border-right-color: #cdc7c2;
    border-right-style: solid;
    border-right-width: thin;
    min-height: 80%;
    width: 20%;
    min-height: 80%;
    overflow-y: auto;
    position: relative;
}

footer{
    background-color: #efeae1;
    height: 5.5%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;

}

header{
    background-color: black;
    color: #cccccc;
    font-weight: bold;
    height: 10%;
    width: 100%
}

.header{
    height: 40%;
    width: 100%
}

nav{
    background-color: #dddad6;
    border-color: #bfb8b1;
    border-bottom-style: solid;
    border-top-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-width: thin;
    border-top-width: thin;
    height: 60%;
    text-align: center;
    position: relative;
    vertical-align: middle;
    width: 100%;
    display: flex;
    align-items: center;
}

.navwrapper{
    height: 80%;
    width: 95%;
    margin: auto;
}

.navgenderfilter{
    background-color: #edebe9;
    float: left;
    height: 100%;
    vertical-align: middle;
    width: 13%;
    margin-right: 3%;
}

.navmainfilter{
    background-color: #edebe9;
    display: inline-flex;
    margin: auto;
    height: 100%;
    vertical-align: middle;
    width: 60%;
}

.navmainfilter button:last-child{
    width: 50%;
}

.navmainfilter button:not(:last-child){
    width: 15%;
    padding: 0
}

.navlabelsfilter{
    background-color: #edebe9;
    float: right;
    height: 100%;
    vertical-align: middle;
    width: 20%
}

.navswitcher{
    background-color: #edebe9;
    border-radius: 10px;
    border-width: thin;
    vertical-align: middle;
}

.navswitcher button {
  background-color: #efedeb;
  border: none;
  color: #313739;
  height: 100%;
  cursor: pointer;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis
}

.navlabelsfilter button{
    max-width: 33.3%;
    min-width: 33.3%;
}

.navgenderfilter button{
    width: 50%;
}

.navclearfilters{
    width: 3%;
    height: 100%;
    margin-left: -15px;
    margin-right: 5px;
    float: left;
}

.navclearfilters button{
    background-color: red;
    width: 100%;
}


/* Clear floats (clearfix hack) */
.navswitcher:after {
  content: "";
  clear: both;
  display: table;
}

.navswitcher button:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: thin;
    border-bottom-width: thin;

}

.navswitcher button:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-width: thin;
    border-bottom-width: thin;

}

/* Add a background color on hover */
.navswitcher button:hover {
  background-color: #faf9f8 !important;
}

aside button {
    background-color: transparent;
    border: none; /* Green border */
    color: #393939; /* White text */
    text-align: left;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 48%; /* Set a width if needed */
    display: inline-flex; /* Make the buttons appear below each other */
    margin: auto;
}

/* Add a background color on hover */
.asidebtns button:hover {
  background-color: #dddad6 !important;
}

.asideinfo{
    width: 90%;
    height: 90%;
    vertical-align: middle;
    padding: 10px;
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.asidecategories{
    width: 100%;
    display: none; /* No display by default. Dynamic change to block by webapp.*/
}

.asideparts{
    width: 100%;
    display: none /* No display by default. Dynamic change to block by webapp*/
}

main{
    width: 100%;
    height: 80%;
    display: flex;
}

.imageviewer{
    padding: 0.5%;
    height: 100%;
    width: 95%;
    background-color: white;
    float: right;
    overflow-y: auto;
    background-image: url(static/src/puff.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.loading{
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}

.loader{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gallery{
    width: 99%;
    min-height: 100%;
    display: block;
    text-align: -webkit-center;
}

figure{
    width: 144px;
    height: 188px;
    border: 1px solid green;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10px 5px 10px 5px;
}

figure img{
    width: 144px;
    height: 188px;
}

figcaption{
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: aliceblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
