<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Fashion Attribute</title>
        <link rel="stylesheet" href="static/css/master.css">
    </head>
    <body>
        <header class="">
            <div class="header">

            </div>
            <nav>
                <div class="navwrapper">
                    <div class="navclearfilters navswitcher">
                        <button id="clearfilters">x</button>
                    </div>
                    <div id="genderbtns" class="navgenderfilter navswitcher">
                        <button id="male">MALE</button>
                        <button id="male">FEMALE</button>
                    </div>
                    <div id="positionbtns" class="navmainfilter navswitcher">
                        <button id="head">HEAD</button>
                        <button id="top">TOP</button>
                        <button id="bottom">BOTTOM</button>
                        <button id="legs">LEGS</button>
                        <button id="top_bottom">TOP_BOTTOM</button>

                        <!-- TODO: Add search functionality later -->
                        <button disabled><i>Search...</i></button>
                    </div>
                    <div id="labelsbtns" class="navlabelsfilter navswitcher">
                        <button id="category">CATEGORY</button>
                        <button id="part">PART</button>
                        <button id="texture">TEXTURE</button>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <aside>
                <div class="asideinfo">
                    <p>Go on! Click on <strong>CATEGORY</strong> or <strong>PART</strong> from the top right to see more filters here!
                    </p>
                </div>
                <div id="categorybtns" class="asidecategories">
                    <h2>Categories</h2>
                    <button id="accessories">Accessories</button>
                    <button id="bikini">Bikini</button>
                    <button id="bras">Bras</button>
                    <button id="coats">Coats</button>
                    <button id="dresses">Dresses</button>
                    <button id="jacket">Jackets</button>
                    <button id="jersey">Jersey</button>
                    <button id="jumpsuits">Jumpsuits</button>
                    <button id="lingerie">Lingerie</button>
                    <button id="pants">Pants</button>
                    <button id="robes">Robes</button>
                    <button id="scarfs">Scarfs</button>
                    <button id="shirts">Shirts</button>
                    <button id="shoes">Shoes</button>
                    <button id="shorts">Shorts</button>
                    <button id="skirts">Skirts</button>
                    <button id="socks">Socks</button>
                    <button id="suits">Suits</button>
                    <button id="sweaters">Sweaters</button>
                    <button id="swimwear">Swimwear</button>
                    <button id="tops">Tops</button>
                    <button id="underwear">Underwear</button>
                </div>
                <div id="partbtns" class="asideparts">
                    <h2>Parts</h2>
                    <button id="length">Length</button>
                    <button id="back">Back</button>
                    <button id="toe">Toe</button>
                    <button id="crotch">Crotch</button>
                    <button id="waist">Waist</button>
                    <button id="button">Button</button>
                    <button id="sleeve">Sleeve</button>
                    <button id="slit">Slit</button>
                    <button id="trim">Trim</button>
                    <button id="train">Train</button>
                    <button id="neck">Neck</button>
                    <button id="collar">Collar</button>
                    <button id="shape">Shape</button>
                    <button id="shoulder">Shoulder</button>
                    <button id="strap">Strap</button>
                    <button id="zip">Zip</button>
                    <button id="heel">Heel</button>
                    <button id="lace">Lace</button>
                    <button id="sole">Sole</button>
                    <button id="closure">Closure</button>
                    <button id="pocket">Pocket</button>
                    <button id="rise">Rise</button>
                    <button id="heels">Heels</button>
                    <button id="hood">Hood</button>
                </div>
            </aside>
            <div class="imageviewer">
                <div id="loading" class="loading">
                    <img class="loader" src="static/src/puff.svg" alt="Loading...">

                </div>
            </div>
        </main>

        <footer></footer>
        <script src="static/js/script.js" type="text/javascript">
        </script>
    </body>
</html>
